PORT=3000

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Minimo 16 caracteres
JWT_SECRET=
JWT_EXPIRES_IN=2h

# Opcionales: si estan presentes se crea el admin al arrancar (si no existe)
ADMIN_EMAIL=
ADMIN_PASSWORD=
